<style>

.footer {
  display: block;
  width: 100%;
  height: 45px;
  padding-top: 7px;
}

.no-link {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    padding-bottom: 5px;
}

</style>

<div class="footer bottom-fixed navbar-dark bg-danger">
  
  <div class="col-md-12 col-xs-6">
    <div class="d-flex justify-content-center">
      <div class="row">       
        <a href="mailto:<%= data.site.footer.mail_link %>" class="mx-4 no-link"><i class="fas fa-envelope"></i></a>
        <a href="https://www.codepen.io/ponix4k" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/codepen.svg" width="32" height="32" /></a> 
        <a href="https://www.github.com/ponix4k" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg" width="32" height="32" /></a> 
        <a href="https://www.twitter.com/ponix4k" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/twitter.svg" width="32" height="32" /></a>
        <a href="https://infosec.exchange/@Ponix" target="_blank" rel="noreferrer"><img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Mastodon_Logotype_%28Simple%29.svg" width="32" height="32" /></a></p>

        <a href="<%= data.site.footer.site_link %>" class="mx-4 no-link"><i class="fas fa-solid fa-globe"></i></a>
        <a href="<%= data.site.footer.twitter_link %>" class="mx-4 no-link"><i class="fab fa-twitter"></i></a>
        <a href="<%= data.site.footer.mastodon_link %>" class="mx-4 no-link"><i class="fab fa-mastodon"></i></a>
        <a href="<%= data.site.footer.github_link %>" class="mx-4 no-link"><i class="fab fa-github"></i></a>
      </div>
      <br>
      
    </div>
  </div>
</div>